In [27]:
import pandas as pd

dataset_2019_2023_actual = pd.read_csv('https://raw.githubusercontent.com/Green-Software-Foundation/real-time-cloud/refs/tags/v1.0/Cloud_Region_Metadata.csv')

dataset_2024_2025_estimate = pd.read_csv('https://raw.githubusercontent.com/Green-Software-Foundation/real-time-cloud/refs/tags/v1.0/Cloud_Region_Metadata_estimate.csv')

yearly_energy_dataset = pd.read_csv('https://storage.googleapis.com/emb-prod-bkt-publicdata/public-downloads/yearly_full_release_long_format.csv')

'''Check the two datasets have the same columns'''
#(https://www.geeksforgeeks.org/python/python-difference-two-lists/)

'Check the two datasets have the same columns'

In [28]:
'''Check actual dataset'''
dataset_2019_2023_actual.head()

,year,cloud-provider,cloud-region,cfe-region,em-zone-id,wt-region-id,location,geolocation,provider-cfe-hourly,provider-cfe-annual,...,grid-carbon-intensity-average-consumption-annual,grid-carbon-intensity-marginal-consumption-annual,grid-carbon-intensity-average-production-annual,grid-carbon-intensity,total-ICT-energy-consumption-annual,total-water-input,renewable-energy-consumption,renewable-energy-consumption-goe,renewable-energy-consumption-ppa,renewable-energy-consumption-onsite
0,2023,Google Cloud,africa-south1,South Africa,ZA,ZA,Johannesburg,NaN,0.16,NaN,...,702.03,NaN,701.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023,Google Cloud,asia-east1,Taiwan,TW,TW,Taiwan,"25.0375,121.5625",0.18,NaN,...,537.64,NaN,537.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023,Google Cloud,asia-east2,Hong Kong,HK,HK,Hong Kong,"22.3,114.2",0.28,NaN,...,435.36,NaN,435.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023,Google Cloud,asia-northeast1,Tokyo,JP-TK,JP_TK,Tokyo,"35.6897,139.692",0.16,NaN,...,536.06,NaN,545.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023,Google Cloud,asia-northeast2,Kansai,JP-KN,JP_KN,Osaka,"34.6939,135.502",0.30,NaN,...,370.30,NaN,357.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
'''check estimated dataset'''
dataset_2024_2025_estimate.head()

,year,cloud-provider,cloud-region,cfe-region,em-zone-id,wt-region-id,location,geolocation,provider-cfe-hourly,provider-cfe-annual,...,grid-carbon-intensity-marginal-consumption-annual,grid-carbon-intensity-average-production-annual,grid-carbon-intensity,total-ICT-energy-consumption-annual,total-water-input,renewable-energy-consumption,renewable-energy-consumption-goe,renewable-energy-consumption-ppa,Unnamed: 23,renewable-energy-consumption-onsite
0,2025,Amazon Web Services,af-south-1,South Africa,ZA,ZA,Africa (Cape Town),"-33.9253,18.4239",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025,Amazon Web Services,ap-east-1,Hong Kong,HK,HK,Asia Pacific (Hong Kong),"22.3,114.2",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025,Amazon Web Services,ap-northeast-1,Tokyo,JP-TK,JP_TK,Asia Pacific (Tokyo),"35.6897,139.692",NaN,NaN,...,535.953159,NaN,536.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025,Amazon Web Services,ap-northeast-2,South Korea,KR,KOR,Asia Pacific (Seoul),"37.56,126.99",NaN,NaN,...,686.013604,NaN,686.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025,Amazon Web Services,ap-northeast-3,Kansai,JP-KN,JP_KN,Asia Pacific (Osaka),"34.6939,135.502",NaN,NaN,...,550.532231,NaN,551.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
def column_differences():
    unique_2019_2023 = list(set(dataset_2019_2023_actual.columns) - set(dataset_2024_2025_estimate.columns))
    unique_2024_2025 = list(set(dataset_2024_2025_estimate.columns) - set(dataset_2019_2023_actual.columns))
    return {
        "2019_2023" : {
            "unique_columns_list" : unique_2019_2023,
            "total_unique_columns" : len(unique_2019_2023),
            "total_columns" : len(dataset_2019_2023_actual.columns),
        },
        "2024_2025" : {
            "unique_columns_list" : unique_2024_2025,
            "total_unique_columns" : len(unique_2024_2025),
            "total_columns" : len(dataset_2024_2025_estimate.columns),
        },
        "combined" : {
            "unique_columns_list" : unique_2019_2023 + unique_2024_2025,
            "total_unique_columns" : len(unique_2019_2023 + unique_2024_2025)
        }
}
column_differences()

{'2019_2023': {'unique_columns_list': [],
  'total_unique_columns': 0,
  'total_columns': 24},
 '2024_2025': {'unique_columns_list': ['Unnamed: 23'],
  'total_unique_columns': 1,
  'total_columns': 25},
 'combined': {'unique_columns_list': ['Unnamed: 23'],
  'total_unique_columns': 1}}

In [32]:
dataset_2024_2025_estimate.drop(column_differences()["2024_2025"]["unique_columns_list"], axis=1, inplace=True)
dataset_2024_2025_estimate.head()

,year,cloud-provider,cloud-region,cfe-region,em-zone-id,wt-region-id,location,geolocation,provider-cfe-hourly,provider-cfe-annual,...,grid-carbon-intensity-average-consumption-annual,grid-carbon-intensity-marginal-consumption-annual,grid-carbon-intensity-average-production-annual,grid-carbon-intensity,total-ICT-energy-consumption-annual,total-water-input,renewable-energy-consumption,renewable-energy-consumption-goe,renewable-energy-consumption-ppa,renewable-energy-consumption-onsite
0,2025,Amazon Web Services,af-south-1,South Africa,ZA,ZA,Africa (Cape Town),"-33.9253,18.4239",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025,Amazon Web Services,ap-east-1,Hong Kong,HK,HK,Asia Pacific (Hong Kong),"22.3,114.2",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025,Amazon Web Services,ap-northeast-1,Tokyo,JP-TK,JP_TK,Asia Pacific (Tokyo),"35.6897,139.692",NaN,NaN,...,NaN,535.953159,NaN,536.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2025,Amazon Web Services,ap-northeast-2,South Korea,KR,KOR,Asia Pacific (Seoul),"37.56,126.99",NaN,NaN,...,NaN,686.013604,NaN,686.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2025,Amazon Web Services,ap-northeast-3,Kansai,JP-KN,JP_KN,Asia Pacific (Osaka),"34.6939,135.502",NaN,NaN,...,NaN,550.532231,NaN,551.0,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
column_differences()

{'2019_2023': {'unique_columns_list': [],
  'total_unique_columns': 0,
  'total_columns': 24},
 '2024_2025': {'unique_columns_list': [],
  'total_unique_columns': 0,
  'total_columns': 24},
 'combined': {'unique_columns_list': [], 'total_unique_columns': 0}}

{'actual_2019_2023': [], 'estimate_2023_2025': []}